<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- site metas -->
      <title>index</title>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">


   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
                    <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-sm-3 logo_sm">
                     <div class="logo">
                        <a href="/index"></a>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/index">主页</a></li>
                              <li><a href="/doubanmovie">豆瓣电影</a></li>
                              <li><a href="/imdbmovie">imdb电影</a></li>
                              <li><a href="/scorecompare">数据对比</a></li>
                              <li><a href="/word">词云</a></li>
                              <li><a href="/recommov">选电影</a></li>
                              <li><a href="/messageCenter">留言</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      <!-- end header -->
              <!-- protect -->
      <div class="protect">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>豆瓣top250</h2>
                     <p>使用 python爬虫 echarts 数据库 前端 豆瓣250top 图形化显示
                     </p>
                  </div>
               </div>
            </div>
         </div>
           <div class="protect_bg">
         <div class="container">
             <div class="row">
               <div class="col-md-12">
                  <!--  Demos -->
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro1.png" alt="#"/></i>
                           <h3> 电影 </h3>
                           <span> 豆瓣电影的详细信息</span>
                          </div>
                           <a class="read_more" href="/imdbmovie">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                          <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro2.png" alt="#"/></i>
                           <h3> 评分</h3>
                           <span>使用echarts图形化表示豆瓣评分</span>
                          </div>
                           <a class="read_more" href="/scorecompare">Read More</a>
                        </div>
                     </div>
                     <div class="item">
                         <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="static/assets/images/pro3.png" alt="#"/></i>
                           <h3>词云</h3>
                           <span> 对豆瓣电影字段截取后形成的词云</span>
                          </div>
                           <a class="read_more" href="/word">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
      </div>
         </div>
      </div>
      <!-- end protect -->

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/js/owl.carousel.min.js"></script>
      <script src="static/assets/js/custom.js"></script>
   </body>
</html>