
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <!-- site metas -->
      <title>index</title>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">


   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
                    <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-sm-3 logo_sm">
                     <div class="logo">
                        <a href="/index"></a>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/index">主页</a></li>
                              <li><a href="/doubanmovie">豆瓣电影</a></li>
                              <li><a href="/imdbmovie">imdb电影</a></li>
                              <li><a href="/scorecompare">数据对比</a></li>
                              <li><a href="/word">词云</a></li>
                              <li><a href="/team">选电影</a></li>
                              <li><a href="/messageCenter">留言</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      <!-- end header -->
         <div class = 'container'>

                <center><h1>留言</h1>
                <form action="{{ url_for('messageCenter') }}"method="POST">
                    <table>
                        <tr>
                            <td>
                                用户名:<input type="text" name="say_user">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                留言标题:<input type="text" name="say_title">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                留言内容:<input type="text" name="say">
                            </td>

                        </tr>
                    </table>




                    <button>提交留言</button>
                </form>
            <table class="table">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>内容</th>
                    <th>用户</th>
                    <th>留言时间</th>
                </tr>
                </thead>
                <tbody>
                {% for say in says %}
                    <tr>
                        <td>{{ say['title'] }}</td>
                        <td>{{ say['text'] }}</td>
                        <td>{{ say['user'] }}</td>
                        <td>{{ say['date'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            </center>

         </div>

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/js/owl.carousel.min.js"></script>
      <script src="static/assets/js/custom.js"></script>
   </body>
</html>