{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<meta charset ="utf-8">#}
{#<title>菜鸟教程(runoob.com)</title>#}
{#</head>#}
{#<body>#}
{##}
<form action="{{ url_for('recommov') }}" method="POST">
<input list="browsers" name="browser">
<datalist id="browsers">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
<input type="submit">
</form>
{#<p>{{ choose }}</p>#}



{#</body>#}
{##}
{##}
{#</html>#}
<!DOCTYPE html>
<html lang="en">
   <head style="box-shadow: 0px 0px 8px 5px">
      <!-- basic -->
      <meta charset="utf-8">
       <meta name="referrer" content="no-referrer" /> <!--可以让img标签预加载网络图片-->

      <!-- site metas -->
      <title>movie</title>

      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">

   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
                    <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-sm-3 logo_sm">
                     <div class="logo">
                        <a href="/index"></a>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/index">主页</a></li>
                              <li><a href="/doubanmovie">豆瓣电影</a></li>
                              <li><a href="/imdbmovie">imdb电影</a></li>
                              <li><a href="/scorecompare">数据对比</a></li>
                              <li><a href="/word">词云</a></li>
                              <li><a href="/rocomov">选电影</a></li>
                              <li><a href="/messageCenter">留言</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      <!-- end header -->

          <div class = 'container' style="background-color: #d6e5f1;" >
              <div class = 'row mt-5 justify-content-around'>
                  {% for movie in randomMovs %}
                   <div class = 'col-md-4'>
                      <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                        <a href="{{ movie[1] }}" title = "{{ movie[7] }}">
                          <img src = {{ movie[2] }} >
                          <div class="caption">
                              <h3>影片名:{{ movie[3] }} </h3>
                              <h3>外文名:{{ movie[4] }}</h3>
                              <h3>评分:{{ movie[5] }}  评分人数:{{ movie[6] }}</h3>
                              <h3>导演:{{ movie[8] }}</h3>
                              <h3>主演:{{ movie[9] }}</h3>
                              <h3>年份:{{ movie[10] }}  地区:{{ movie[11] }}</h3>
                              <h3>类型:{{ movie[12] }}</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
              </div>
          </div>

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
   </body>
</html>