<!DOCTYPE html>
<html lang="en">
   <head style="box-shadow: 0px 0px 8px 5px">
      <!-- basic -->
      <meta charset="utf-8">
       <meta name="referrer" content="no-referrer" /> <!--可以让img标签预加载网络图片-->

      <!-- site metas -->
      <title>movie</title>

      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">

   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
                    <!-- header -->

         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-sm-3 logo_sm">
                     <div class="logo">
                        <a href="/index"></a>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/index">主页</a></li>
                              <li><a href="/doubanmovie">豆瓣电影</a></li>
                              <li><a href="/imdbmovie">imdb电影</a></li>
                              <li><a href="/scorecompare">数据对比</a></li>
                              <li><a href="/word">词云</a></li>
                              <li><a href="/rocomov">选电影</a></li>
                              <li><a href="/messageCenter">留言</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      <!-- end header -->

          <div class = 'container' style="background-color: #d6e5f1;" >
                <form action="{{ url_for('recommov') }}" method="POST">
                   <div class = 'row mt-5 justify-content-around'>

                       <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[0][1] }}" title = "{{ randomMovs[0][7] }}">
                              <img src = {{ randomMovs[0][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[0][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[0][4] }}</h3>
                                  <h3>评分:{{ randomMovs[0][5] }}  评分人数:{{ randomMovs[0][6] }}</h3>
                                  <h3>导演:{{ randomMovs[0][8] }}</h3>
                                  <h3>主演:{{ randomMovs[0][9] }}</h3>
                                  <h3>年份:{{ randomMovs[0][10] }}  地区:{{ randomMovs[0][11] }}</h3>
                                  <h3>类型:{{ randomMovs[0][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov0" value="{{ randomMovs[0][0] }}">
                              <p>{{ randomMovs[0][0]}}</p>
                          </div>
                        </div>
                       <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[1][1] }}" title = "{{ randomMovs[1][7] }}">
                              <img src = {{ randomMovs[1][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[1][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[1][4] }}</h3>
                                  <h3>评分:{{ randomMovs[1][5] }}  评分人数:{{ randomMovs[1][6] }}</h3>
                                  <h3>导演:{{ randomMovs[1][8] }}</h3>
                                  <h3>主演:{{ randomMovs[1][9] }}</h3>
                                  <h3>年份:{{ randomMovs[1][10] }}  地区:{{ randomMovs[1][11] }}</h3>
                                  <h3>类型:{{ randomMovs[1][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov1" value="{{ randomMovs[1][0] }}">
                              <p>{{ randomMovs[1][0]}}</p>
                          </div>
                        </div>
                                              <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[2][1] }}" title = "{{ randomMovs[2][7] }}">
                              <img src = {{ randomMovs[2][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[2][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[2][4] }}</h3>
                                  <h3>评分:{{ randomMovs[2][5] }}  评分人数:{{ randomMovs[2][6] }}</h3>
                                  <h3>导演:{{ randomMovs[2][8] }}</h3>
                                  <h3>主演:{{ randomMovs[2][9] }}</h3>
                                  <h3>年份:{{ randomMovs[2][10] }}  地区:{{ randomMovs[2][11] }}</h3>
                                  <h3>类型:{{ randomMovs[2][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov2" value="{{ randomMovs[2][0] }}">
                              <p>{{ randomMovs[2][0]}}</p>
                          </div>
                        </div>
                                              <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[3][1] }}" title = "{{ randomMovs[3][7] }}">
                              <img src = {{ randomMovs[3][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[3][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[3][4] }}</h3>
                                  <h3>评分:{{ randomMovs[3][5] }}  评分人数:{{ randomMovs[3][6] }}</h3>
                                  <h3>导演:{{ randomMovs[3][8] }}</h3>
                                  <h3>主演:{{ randomMovs[3][9] }}</h3>
                                  <h3>年份:{{ randomMovs[3][10] }}  地区:{{ randomMovs[3][11] }}</h3>
                                  <h3>类型:{{ randomMovs[3][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov3" value="{{ randomMovs[3][0] }}">
                              <p>{{ randomMovs[3][0]}}</p>
                          </div>
                        </div>
                                              <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[4][1] }}" title = "{{ randomMovs[4][7] }}">
                              <img src = {{ randomMovs[4][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[4][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[4][4] }}</h3>
                                  <h3>评分:{{ randomMovs[4][5] }}  评分人数:{{ randomMovs[4][6] }}</h3>
                                  <h3>导演:{{ randomMovs[4][8] }}</h3>
                                  <h3>主演:{{ randomMovs[4][9] }}</h3>
                                  <h3>年份:{{ randomMovs[4][10] }}  地区:{{ randomMovs[4][11] }}</h3>
                                  <h3>类型:{{ randomMovs[4][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov4" value="{{ randomMovs[4][0] }}">
                              <p>{{ randomMovs[4][0]}}</p>
                          </div>
                        </div>
                                           <div class = 'col-md-4'>
                          <div class = 'thumbnail' style="background-color: #ffffff ;box-shadow:0px 0px 8px 5px" >
                            <a href="{{ randomMovs[5][1] }}" title = "{{ randomMovs[5][7] }}">
                              <img src = {{ randomMovs[5][2] }} >
                              <div class="caption">
                                  <h3>影片名:{{ randomMovs[5][3] }} </h3>
                                  <h3>外文名:{{ randomMovs[5][4] }}</h3>
                                  <h3>评分:{{ randomMovs[5][5] }}  评分人数:{{ randomMovs[5][6] }}</h3>
                                  <h3>导演:{{ randomMovs[5][8] }}</h3>
                                  <h3>主演:{{ randomMovs[5][9] }}</h3>
                                  <h3>年份:{{ randomMovs[5][10] }}  地区:{{ randomMovs[5][11] }}</h3>
                                  <h3>类型:{{ randomMovs[5][12] }}</h3>
                              </div>
                            </a>
                              <input type="checkbox" name="mov5" value="{{ randomMovs[5][0] }}">
                              <p>{{ randomMovs[5][0]}}</p>
                          </div>
                        </div>

                  </div>
                        <p>{{ choose }}</p>
                <center>
                   <input type="submit">
                    <a href="/recommovR"> <botton>查看推荐的电影</botton> </a>
                </center>
                </form>
          </div>

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
   </body>
</html>