<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Covido</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/assets/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/assets/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/assets/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/assets/css/font-awesome.css">
       <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css"> 
      <link rel="stylesheet" href="static/assets/css/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="static/assets/css/baguetteBox.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- top -->
                    <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-sm-3 logo_sm">
                     <div class="logo">
                        <a href="/index"></a>
                     </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/index">主页</a></li>
                              <li><a href="/doubanmovie">豆瓣电影</a></li>
                              <li><a href="/imdbmovie">imdb电影</a></li>
                              <li><a href="/scorecompare">数据对比</a></li>
                              <li><a href="/word">词云</a></li>
                              <li><a href="/team">选电影</a></li>
                              <li><a href="/contact">留言</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
      <!-- end header -->


         <!-- coronata -->
      <div class="coronata">
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-7">
                  <div class="coronata_img text_align_center">
                     <figure><img src="/static/assets/images/word.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-5 oder1">
                  <div class="titlepage text_align_left">
                     <h2>词云</h2>
                     <p>“词云”这个概念由美国西北大学新闻学副教授、新媒体专业主任里奇·戈登（Rich Gordon）提出。“词云”就是对网络文本中出现频率较高的“关键词”予以视觉上的突出，形成“关键词云层”或“关键词渲染”，从而过滤掉大量的文本信息，使浏览网页者只要一眼扫过文本就可以领略文本的主旨。
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end coronata -->



      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">

            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>Copyright &copy; mk310 name All rights reserved.<a target="_blank" >luoguo</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/js/baguetteBox.min.js"></script>
      <script src="static/assets/js/owl.carousel.min.js"></script>
      <script src="static/assets/js/custom.js"></script>
   </body>
</html>